:root {
  --main-clr: chocolate;
  --sec-clr: brown;
  --bg-btn: radial-gradient(white, chocolate);
  --bg-btn-hov: radial-gradient(chocolate, white);
  --b-rad: 8px;
  --b-rad-lg: 15px;
}

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(/images/bg-unsplash.jpg);
  /* background: radial-gradient(white, black); */
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  color: var(--main-clr);
}

p {
  font-size: 1.6rem;
}
small {
  font-size: 1.2rem;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 2rem 3rem;
}

.title {
  font-size: 4rem;
}
