:root {
  --main-clr: chocolate;
  --sec-clr: brown;
  --bg-btn: radial-gradient(white, chocolate);
  --bg-btn-hov: radial-gradient(chocolate, white);
  --b-rad: 8px;
  --b-rad-lg: 20px;
}

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* background-image: url(/images/bg-unsplash.jpg); */
  background: radial-gradient(rgb(95, 93, 93), black);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  color: var(--main-clr);
}

h1 {
  font-family: 'Courgette', cursive;
}
p {
  font-size: 1rem;
}
small {
  font-size: 0.75rem;
  color: var(--sec-clr);
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 2rem 3rem;
}

.title {
  font-size: 4rem;
}
